BODY {
    margin: 6;
    font-family: arial, helvetica, sans-serif;
    color: black;
    background: cornsilk;
    font-size: 10pt
  }

a:link {
  color: navy
}

a:visited {
  color: maroon
}

a:active {
  color:tomato
}

TT {color:black;
   font-family: courier;
}

PRE {color:black;
   font-family: courier;
}

.emphasis { color:red }

LI { font-family: arial, helvetica, sans-serif }

table.header {
  background: #CCFFFF;
  color: #CC0000;
}

table.people {
  background: #dddddd;
  color: #CC0000;
  font-size: 12pt
}

table.light {
  background: #FFFFCC;
  color: #CC0000;
}

tr.dark {
  background: #CCFFFF;
}

tr.light {
  background: #FFFFCC;
}

td {
  font-size: 10pt;
}

td.small {
  font-size: 9pt;
}

td.title {
  font-size: 26pt;
  font-family: arial, helvetica;
  font-weight: bold;
  color: #CC0000;
}

td.smalltitle {
  font-size: 18pt;
  font-family: arial, helvetica;
  font-weight: bold;
  color: #CC0000;
}
